* {
  padding: 5px;
  margin: 0;
 }
nav {
	padding: none;
	width: 98%;
	margin: auto;
    overflow:hidden;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav li {
	display: inline-block;
	list-style-: none;
	padding: 15px;
	font: bold 15px verdana, sans-serif;
}
nav {
	overflow: hidden;
	background-color: #f50a25;
}
nav a {
	display: block;
	float: left;
	color: #1f1d1d;
	text-align: center;
	padding: 7px;
	text-decoration: none;
	font-size: 14px;
}
nav a:hover {
	background-color: white;
	color: black;
}
nav a:activate {
	background-color: white;
	color: black;
}
header {
	padding: 1px 1px;
	border: 10px;
}
